@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --background-color: #F2F2F2;
    --background-inactive-color: hsla(0, 0%, 0%, 1);
    --inactive-color: #2F2F2F;
    --text-color: #7A7A7A;
    --text-color-header: #000000;
    --background-wrapper-color: #FFFFFF;
    --button-color: #3CB3AB;
    --button-hover-color: #147A73;
    --buttton-txt-color: #FFFFFF;
    --error: #FF525D;
    --txt-color-inactive: #808080;
    --amount-border: #E6E6E6;
}


body {
    margin: auto;
    padding: 0;
    background: var(--background-color);
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: var(--text-color);
}

h1 {
    font-size: 28px;
    line-height: 34px;
    color: var(--text-color-header);
}

.header {
    background-image: url("/images/image-hero-desktop.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding: 3rem 7.5% 21rem;
    overflow: hidden;
    box-shadow: inset 0 0 15rem rgb(0 0 0);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product img {
    position: relative;
    margin: 0 50%;
    top: -68px;
}

.main {
    max-width: 730px;
    margin: auto;
}

section {
    width: 90%;
    margin: 5% auto;
    background-color: var(--background-wrapper-color);
    border: 1px solid var(--amount-border);
    border-radius: 0.5rem;
    padding: 5%;
}

.product {
    box-sizing: border-box;
    text-align: center;
    margin-top: -92px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.product-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1.5rem;
}

.product-action:active {
    fill: var(--button-hover-color);
}

.product-bookmark {
    position: relative;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 28px;
    background-color: hsl(0, 0%, 95%);
    margin-right: 5%;
    cursor: pointer;
}

.product-bookmark img {
    position: relative;
    margin: 0;
    top: 0;
}

.bookmark-txt {
    margin: auto;
}

button {
    font: 16px;
    padding: 1.25rem 1rem;
    border: none;
    border-radius: 1.75rem;
    outline: none;
    background-color: var(--button-color);
    color: var(--buttton-txt-color);
    transition: 0.25s ease;
}

button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

.headline {
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color-header);
    font-weight: 700;
}

.headlines {
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color-header);
    font-weight: 700;
    margin-right: 3%;
}

.price {
    font-size: 15px;
}

.price strong {
    color: var(--text-color-header);
}

span {
    font-size: 15px;
    color: var(--button-color);
}

.card-option.active {
    border-color: var(--button-color);
}

.option-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-default-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 90%;
}

input {
    margin-right: 5%;
}

.option-interactive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.funding-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.separator {
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    border-left: 1px solid rgba(135, 135, 157, 0.25);
    height: 84px;
    margin: 0px auto 0px; 
}

.progress {
    position: relative;
    display: block;
    width: 100%;
    height: 1rem;
    background-color: hsl(0, 0%, 90%);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.progress-fill {
    transition: 0.86138s ease-out 0s;
    max-width: 80%;
    position: relative;
    left: 0;
    display: block;
    height: 1rem;
    background-color: var(--button-color);
    border-radius: 0.5rem;
}

label {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    color: var(--text-color-header);
}


#modal {
    position: fixed;
    top: 10vh;
    left: 5%;
    height: 80vh;
    margin: 0;
    padding: 3rem 1.5rem;
    overflow-y: scroll;
    outline: none;
    border: none;
    box-shadow: 0 0 3rem rgb(0 0 0 / 50%);
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    z-index: 3;
    max-width: 730px;
} 

#modal.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

#closeModal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    scroll-margin-top: 1.5rem;
}

#closeModal:hover {
    cursor: pointer;
}

#closeModal path {
    transition: opacity 0.25s ease;
}

#closeModal:hover path {
    opacity: 1;
}

.completed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 3;
}

.completed.active {
    opacity: 1;
    pointer-events: all;
}

.completed section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    box-shadow: 0 0 3rem var(--text-color-header);
    transform: scale(0.95);
}

.amount {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    min-width: 40%;
}


.amount div::before {
    position: absolute;
    top: 20px;
    left: 1.25rem;
    content: "$";
    color: var(--txt-color-inactive);
}

.amount input {
    color: var(--text-color-header);
    max-width: 100px;
    max-height: 48;
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    outline: none;
    border-radius: 2rem;
    border: 1px solid #E6E6E6;
    transition: border-color 0.25s ease;
}

.amount input:focus {
    border-color: var(--text-color-header);
}

.amount input::placeholder {
    color: var(--txt-color-inactive);
}

.amount button {
    flex-grow: 0;
}


.amount.error input {
    border-color: var(--error);
}

.amount::after {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    content: "Please enter a valid pledge";
    color: var(--error);
    font-size: 0.75rem;
    opacity: 0;
    pointer-events: none;
}

.amount.error::after {
    opacity: 1;
}

.card-option.active .amount::after {
    transform: scale(1);
}


.close {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close img:hover {
    fill-rule: evenodd;
    fill: var(--text-color-header);
    cursor: pointer;
}

#wrapper.active{
    opacity: 1;
    pointer-events: all;
}
    
#overlay.inactive {
    pointer-events: none;
}

section.option.premium {
    opacity: 0.5;
}

section.card-option.premium {
    opacity: 0.5;
}


@media only screen and (min-width: 400px) {
    .navToggle {
        display: none;
    }

}

@media only screen and (max-width: 399px) {
    nav#desktopNav.nav-menu {
        display: none;
    }
}
    








/*
.progress-fill {
    position: absolute;
    left: 0;
    display: block;
    height: 1rem;
    background-color: hsl(176, 50%, 47%);
    border-radius: 0.5rem;
}
*/


/*
.funding-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.funding-info.loading {
    opacity: 0;
}

.numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
*/
